<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MaxStock" value="100"/>
		<add key="MinStock" value="7"/>
		<add key="ExpirationSpanSec" value="2592000"/>
		<add key="InvocationSpan" value="86400"/>
		<add key="CheckingSpan" value="86400"/>
	</appSettings>
</configuration>